@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Base Styles */
*{
  background-color: #165f28;
  margin: 0; 
  font-family: "Stardos Stencil";
  font-weight: bold;
  color: black;
}

*::-webkit-scrollbar {
  display: none;
}

/* HomePage Styles */
.homePage {
  top: 35%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
  /* font-size: 53px; */
  font-size: 300%
}

.homePage h1 {
  padding: 5%;
}

.homePage a {
  color: maroon;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 50px;
  text-decoration: none;
  font-weight: bold;
  padding: 8px;
}

.homePage a:hover {
  padding:12px;
}

/* HowToPlayPage Styles */
.howToPlayPage h1 {
  top: 10%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
  font-size: 48px;
}

.howToPlayPage div { 
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
}

.howToPlayPage p {
  font-size: 30px;
}

/* BackButton Styles */
.backButton a {
  color: maroon;
  top: 8%;
  position: absolute;
  margin-left: 15%;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 35px;
  text-decoration: none;
  font-weight: bold;
  padding: 8px;
}

.backButton a:hover {
  padding: 12px;
}

/* PlayPage Styles */
.backgroundImagePage {
  position: relative;
  z-index: 0;
}

.main-container {
  background-image: url("./images/bj_playing_background.jpg");
  height: 100vh;
  background-repeat: no-repeat; 
  background-size: cover;
  z-index: 0;
}

/* CardDealing Styles */
.dealtCardDealer1, .dealtCardDealer2, .dealtPlayerCard1, .dealtPlayerCard2{
  z-index: 1;
  position: absolute;
  object-fit: fill;
}

.startButton {
  position: absolute;
  transform: translate(-50%, -50%);
  right: 3%;
  top: 15%;
  z-index: 2;

}

.startButton button {
  color: maroon;
  border: 4px solid black;
  border-radius: 10px;
  padding: 4px;
  font-size: 500%;
}

.startButton button:active {
  padding: 8px;
}

/* RunningCount Styles */
.runningCountInput {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid black;
  padding: 20px;
  font-size: 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  right: 10%;
  bottom: 30%;
}
.runningCountInput label {
  text-align: center;
  display: block;
  z-index: 4;
}

.runningCountInput input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 2px solid black;
  box-sizing: border-box;
  display: block;
}
.runningCountInput button {
  font-size: 20px;
  color: maroon;
  border: 2px solid black;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}